<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyopQkL65l1C4l3/DuQhbo5ktD7VWPI..."
          crossorigin="anonymous">
    <title>Inventory App</title>
</head>
<body>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Inventory App</h2>
            <div class="list-group">
                <a class="list-group-item list-group-item-action" th:href="@{/categories}">List Categories</a>
                <a class="list-group-item list-group-item-action" th:href="@{/categories/new}">Create Category</a>
                <a class="list-group-item list-group-item-action" th:href="@{/products}">List Products</a>
                <a class="list-group-item list-group-item-action" th:href="@{/products/new}">Create Product</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
